body, .modal-content {
	background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.modal-content, .modelBody, .modal-footer {
	text-align: center;
}

.border {
	border: 10px double #3498DB;
	border-radius: 20px;
	margin-top: 50px;
}

.consonant {
	float: left;
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	width: 11.1%;
	text-align: center;
}

.vowel {
	float: left;
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	font-family: Arial;
	color: #ffffff;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	text-align: center;
}

.letterSlogan {
	float: left;
	background: #3498db;
	border-radius: 10px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	width: 10%;
	text-align: center;
	height: 49px;
}

.consonantEmpty {
	float: left;
	background: white;
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	font-family: Arial;
	color: white;
	font-size: 20px;
	text-decoration: none;
	width: 11.1%;
	text-align: center;
}

.consonant:hover {
	background: #1e2620;
	text-decoration: none;
}

.block {
	display: flex;
	margin-bottom: 20px;
	margin-right: inherit;
	margin-left: inherit;
}

.lettersBorder {
	border: 10px double darkorchid;
	border-radius: 20px;
	padding: 15px 30px 15px 10px;
	margin-bottom: 30px;
}

.startButton {
	backface-visibility: hidden;
	position: relative;
	cursor: pointer;
	display: inline-block;
	white-space: nowrap;
	background: linear-gradient(110deg,#eee 0%,#e3e3e3 10%,#fff 20.1%,#fff 25%,#f0f0f0 26%,#fff 28.000000000000004%,#ddd 55.00000000000001%,#eee 100%);
	border-radius: 100px;
	border: 1px solid #999;
	border-width: 1px 1px 1px 1px;
	padding: 5px 20px 7px 20px;
	box-shadow: 0px 2px 2px rgba(0%,0%,0%,0.5),0px 0px 5px rgba(0,0,0,0.25),0px 0px 2px 4px rgba(0,0,0,0.1);
		color: #444;
	font-size: 16px;
	font-family: Helvetica Neue;
	font-weight: 900;
	font-style: normal;
	text-shadow: 0px 2px 1px rgba(0,0,0,0.3);
	margin-top: 200px;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -50%);
}

.mb100p {
	margin-bottom: 100%;
}

.boxForScore {
	box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 3px 1px 15px 10px rgba(0,0,0,0);
}

.buyVowelButton {
	backface-visibility: hidden;
	position: relative;
	cursor: pointer;
	display: inline-block;
	white-space: nowrap;
	background: linear-gradient(110deg,#eee 0%,#e3e3e3 10%,#fff 20.1%,#fff 25%,#f0f0f0 26%,#fff 28.000000000000004%,#ddd 55.00000000000001%,#eee 100%);
	border-radius: 100px;
	border: 1px solid #999;
	border-width: 1px 1px 1px 1px;
	padding: 5px 20px 7px 20px;
	box-shadow: 0px 2px 2px rgba(0%,0%,0%,0.5),0px 0px 5px rgba(0,0,0,0.25),0px 0px 2px 4px rgba(0,0,0,0.1);
		color: #444;
	font-size: 16px;
	font-family: Helvetica Neue;
	font-weight: 900;
	font-style: normal;
	text-shadow: 0px 2px 1px rgba(0,0,0,0.3);
	margin-top: 20px;
	margin-bottom: 20px;
}

.buyScoreLabel {
	backface-visibility: hidden;
	position: relative;
	cursor: pointer;
	display: inline-block;
	white-space: nowrap;
	background: linear-gradient(110deg,#eee 0%,#e3e3e3 10%,#fff 20.1%,#fff 25%,#f0f0f0 26%,#fff 28.000000000000004%,#ddd 55.00000000000001%,#eee 100%);
	border-radius: 100px;
	border: 1px solid #999;
	border-width: 1px 1px 1px 1px;
	padding: 5px 20px 7px 20px;
	box-shadow: 0px 2px 2px rgba(0%,0%,0%,0.5),0px 0px 5px rgba(0,0,0,0.25),0px 0px 2px 4px rgba(0,0,0,0.1);
		color: #444;
	font-size: 16px;
	font-family: Helvetica Neue;
	font-weight: 900;
	font-style: normal;
	text-shadow: 0px 2px 1px rgba(0,0,0,0.3);
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
}

.inputPlayer { 
	font-size:16px; 
	text-align:center; 
	padding:5px; 
	border-width:3px; 
	border-radius:18px; 
	border-style:solid; 
	border-color:#999;
} 

.mt30 {
	margin-top: 30px;
}

.ml20 {
	margin-left: 20px;
}

.mt50 {
	margin-top: 50px;
}

.labelPlayer {
	font-family: Georgia, serif;
	font-size: 25px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #999999;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

table.paleBlueRows {
	font-family: Georgia, serif;
	border: 1px solid #999999;
	text-align: center;
	border-collapse: collapse;
	margin-top: 20px;
}

table.paleBlueRows td, table.paleBlueRows th {
	border: 1px solid #FFFFFF;
	padding: 3px 2px;
}

table.paleBlueRows tbody td {
	font-size: 13px;
}

table.paleBlueRows thead {
	background: #999999;
	border-bottom: 5px solid #999999;
}

table.paleBlueRows thead th {
	font-size: 17px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	border-left: 2px solid #999999;
}

table.paleBlueRows thead th:first-child {
	border-left: none;
}

.slogan {
	min-height: 220px;
}

.is-actual {
	background-color: lime !important;
}

.sloganBorder {
	margin-top: 20px;
}

.mt20px {
	margin-top: 20px;
}

.checkSlogan {
	margin-left: 20px;
	margin-right: 20px;
	width: -moz-available;
}

.buttonCheckSlogan {
	backface-visibility: hidden;
	position: relative;
	cursor: pointer;
	display: inline-block;
	white-space: nowrap;
	background: linear-gradient(110deg,#eee 0%,#e3e3e3 10%,#fff 20.1%,#fff 25%,#f0f0f0 26%,#fff 28.000000000000004%,#ddd 55.00000000000001%,#eee 100%);
	border-radius: 100px;
	border: 1px solid #999;
	border-width: 1px 1px 1px 1px;
	padding: 5px 20px 7px 20px;
	box-shadow: 0px 2px 2px rgba(0%,0%,0%,0.5),0px 0px 5px rgba(0,0,0,0.25),0px 0px 2px 4px rgba(0,0,0,0.1);
		color: #444;
	font-size: 16px;
	font-family: Helvetica Neue;
	font-weight: 900;
	font-style: normal;
	text-shadow: 0px 2px 1px rgba(0,0,0,0.3);
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	width: -moz-available;
}


.modelBody {
	height: 100%;
}

.textCenter {
	text-align: center;
}

@media (max-width: 975px) {
	table.paleBlueRows {
		width: 100%;
	}
	.sloganBorder {
		width: 100%;
	}
	.letter {
		margin-bottom: 30px;
		display: flex;
	}
	.buyVowelButton {
		width: 100%;
	}
}