<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="lib/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="lib/angular.min.js"></script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="controllers/wheelOfFortuneController.js"></script>
</head>
<body>
    <div class="container" ng-app="wheelOfFortuneApp" ng-controller="wheelOfFortuneController">
        <div class="modal fade" id="modalWindow" tabindex="-1" role="dialog"  aria-labelledby="modalWindowLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body modelBody">
                        <div>
                            {{message2}}
                        </div>
                        <div>
                            {{message}}
                        </div>
                        <div ng-if="showEndTab">
                            <div>
                                {{messageAfterRound}}
                            </div>
                            <table class="paleBlueRows col-md-4 col-sm-12">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-model="players" ng-repeat="player in players track by $index"
                                    ng-class="{'is-actual': player.isActual}">
                                        <td>{{player.name}}</td>
                                        <td>{{player.endScore}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-if="buttonMessage"  class="buyScoreLabel" data-dismiss="modal" ng-click="resetDataForNextRound()">{{buttonMessage}}</button>
                        <button ng-if="!buttonMessage" class="buyScoreLabel" ng-click="closeModal()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalWindowTryGuess" tabindex="-1" role="dialog"  aria-labelledby="modalWindowTryGuessLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body wt100per">
                            <input class="inputPlayer checkSlogan" 
                            ng-model="guessSlogan"
                            type="text"/>
                    </div>
                    <button class="buttonCheckSlogan" ng-click="checkSloga()" data-dismiss="modal">Check</button>
                </div>
            </div>
        </div>

        <div class="row">
            <button ng-if="showStartButton" ng-click="enterPalyers()" class="startButton mb100p">Start</button>
            <div ng-if="showEnterPlayers">
                <div class="border col-sm-8 col-sm-offset-2 mb100p" ng-model="players">
                   
                    <div ng-model="players" class="mt30" ng-repeat="player in players track by $index">
                        <label class="labelPlayer">{{player.player}}</label>
                        <input class="inputPlayer ml20" 
                            ng-model="player.nameFun" 
                            ng-model-options="{ getterSetter: true }"
                            type="text"/>
                    </div>
                    <button ng-click="startGame()" class="startButton mt50">Play</button>
                </div>
            </div>
            <div class="border col-sm-12 mb100p" ng-show="game">
                    <h3 class="col-sm-12 textCenter"><div class ="label label-info">Round {{round}}. Hint: {{description}}</div></h3>
                <div class="col-sm-12">
                    <table class="paleBlueRows col-md-4 col-sm-12">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-model="players" ng-repeat="player in players track by $index"
                            ng-class="{'is-actual': player.isActual}">
                                <td>{{player.name}}</td>
                                <td>{{player.score}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="sloganBorder col-sm-7 col-sm-offset-1 col-md-7 col-md-offset-1" ng-model="slogan" id="border"></div>
                </div>
                <div class="col-sm-12 mt20px">
                    <div class="letter col-sm-12 col-md-3">
                        <div ng-model="vowels"  ng-if="buyVowel">
                            <div ng-repeat="vowel in vowels track by $index" 
                                ng-click="checkVowel(vowel)"
                                class="vowel">
                                    {{vowel.letter}}
                            </div>
                        </div>
                    </div>
                    <div ng-model="consonants"  class="col-sm-12 col-md-8 col-md-offset-1">
                        <div ng-repeat="consonant in consonants track by $index" 
                            ng-click="checkConsonant(consonant)"
                            class="consonant">
                                {{consonant.letter}}
                        </div>
                    </div>
                </div>
                <div>
                <div class="col-sm-12">
                    <button ng-disabled="buyVowel" ng-click="spinTheWheel()" class="buyVowelButton col-sm-12 col-md-4">Spin the wheel</button>
                    <button ng-disabled="buyVowel" ng-click="showVowels()"   class="buyVowelButton col-sm-12 col-md-4">Buy the vowel</button>
                    <button ng-disabled="buyVowel" ng-click="tryGuess()"     class="buyVowelButton col-sm-12 col-md-4"  >Try to guess the slogan</button>
                </div>
                <div class="col-sm-12">
                    <div class="buyScoreLabel">{{showScoreValue}}</div>
                </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>